/* header element */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: #f8f9fa;
    font-size: large;
    font-family: Arial, sans-serif;
}
/* class selector ohio-flag */
.ohio-flag {
    display: inline-block;
    width: 160px;
}
/* nav element */
nav {
    padding-top: 1%;
    padding-left: 10%;
}
/* class nav-button */
.nav-button {
    width: 100px;
    height: 50px;
    background-color: #BB0000;
    color: #FFFFFF;
}
/* class nav-button :hover */
.nav-button:hover {
    background-color:  #666666;
}
/* footer element */
footer {
    background-color: #f8f9fa;
    text-align: center;
    font-size: small;
    font-family: Arial, sans-serif;
    position: fixed;
    bottom: 0;
    width: 100%;
}
/* article element */
article {
    padding-left: 10%;
    font-family: Arial, sans-serif;
    float: left;
    width: 50%;
}
/* aside element */
aside {
    padding-right: 10%;
    font-family: Arial, sans-serif;
    float: right;
    width: 20%;
}
/* id selector ohio-seal */
#ohio-seal {
    display: inline-block;
    width: 30%;
}
#osu-logo {
    display: inline-block;
    width: 30%;
}
